/* Credit: http://www.cssmoban.com */

body {
	margin: 0;
	padding: 0;
	color: #666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 1.4em; 
	background-color: #fff; 
	background-position: top;
	background-repeat: repeat-x;
}

#home { background-image: url(images/templatemo_body_home.jpg) }
#subpage { background-image: url(images/templatemo_body_subpage.jpg) }

h1, h2, h3, h4, h5, h6 {
	color:#333;
	font-weight:400;
	padding: 0;
	margin: 0 0 10px 0;
	font-family: Georgia, "Times New Roman", Times, serif
}

h1 { font-size:32px }
h2 { font-size:26px; margin-bottom: 30px; line-height: 20px; }
h3 { font-size:20px }
h4 { font-size:18px }
h5 { font-size:16px }
h6 { font-size:12px }
 
.left { float:left }
.right { float:right }
.clear { clear: both }
.h30 { height: 30px }
.h60 { height: 60px }

img { margin: 0; padding: 0; border: 0 }
.img_border { border: 1px solid #999; background: #fff; padding: 3px; }
.img_border_b { border: 1px solid #999; background: #fff; padding: 6px }

.img_fl { float: left; display: block; margin: 1px 20px 8px 0 }
.img_fr { float: right; margin: 1px 0 8px 20px }

p { margin: 0 0 10px 0; padding: 0 }
em { color: #333 }
hr { margin-bottom: 40px; padding-top: 20px; border: none; border-bottom: 1px solid #ccc }

a:link, a:visited { color:#76a33b; text-decoration: none}
a:hover { text-decoration:none; }
a:hover,a:active { outline:none }

a.more { display: block; margin-top: 15px; color: #fff; width: 80px; height: 24px; line-height: 24px; text-align: center; background: url(images/templatemo_more.png) }

ul.nobullet { margin: 0; padding: 0; list-style: none }
ul.nobullet li { margin: 0; padding: 0 }

ul.list_bullet { margin: 10px 0 10px 15px; padding: 0; list-style: none }
ul.list_bullet li { color:#555; margin: 0 0 7px 0; padding: 0 0 0 20px; background: url(images/templatemo_bullet.png) no-repeat scroll 0 5px  }
ul.list_bullet li a { color: #555; font-weight: normal; text-decoration: none }
ul.list_bullet li a:hover { color: #555 }

#templatemo_wrapper {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}
#templatemo_header {
	height: 60px;
	padding: 50px 70px 20px 70px;
}
#templatemo_slider {
	clear: both;
	width: 960px;
	height: 320px;
	position: relative;
	margin-bottom: 50px;
}
#templatemo_slider span.sliderframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 960px;
	height: 320px;
	z-index: 50;
	background: url(images/templatemo_slider_frame.png)
}
#templatemo_twitter {
	clear: both;
	width: 650px;
	height: 50px;
	padding: 25px 25px 25px 145px;
	margin: 0 auto;
	margin-bottom: 50px;	
	font-size: 18px;
	line-height: 24px;
	color: #333;
	background: url(images/twitter.png) no-repeat
}
#templatemo_main {
	clear: both;
	width: 960px;
	margin: 0 auto 40px;
}
#templatemo_bottom_wrapper {
	width: 100%;
	background: #646464 url(images/templatemo_bottom.png) top repeat-x
}
#templatemo_bottom {
	width: 960px;
	margin: 0 auto;
	padding: 50px 10px 0;
	color: #ccc
}
#templatemo_bottom h4 { color: #fff; margin-bottom: 30px }
#templatemo_bottom a { color: #fff }

#templatemo_footer_wrapper {
	width: 100%;
	background: url(images/templatemo_footer.png) top repeat-x
}
#templatemo_footer {
	width: 960px;
	margin: 0 auto;
	padding: 20px 10px 10px;
	text-align: center
}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
ul.footer_gallery li { display: block; float: left; margin: 0 10px 10px 0 }
ul.footer_gallery li img { border: 1px solid #777; padding: 4px; background: #333 }

#site_title { float: left; 
				margin-left: 100px;
				margin-top: 5px;
			  font-size: 30px; }
#site_title a { 
	text-decoration: none;
	 text-indent: -10000px;}

#templatemo_menu { float: right; margin-top: 10px }

#templatemo_page_intro {
	clear: both;
	height: 96px;
	padding: 40px 0;
	margin-bottom: 50px;
}

#templatemo_page_intro h1 {
	color: #fff;
	margin-bottom: 30px;
}
#templatemo_page_intro p {
	color: #eee;
	font-size: 18px;
	line-height: 22px;
}

.col { margin: 0 30px 30px 0; float: left }
.col_2 { width: 465px }
.col_3 { width: 300px }
.col_32 { width: 630px }
.col_4 { width: 217.5px }
.col_43 { width: 712.5px }
.col_w216 { width: 216px }

#templatemo_content {
	width: 630px;
}

#templatemo_sidebar {
	width: 300px;
}

#templatemo_content .col_2 { width: 300px }
#templatemo_content .col_3 { width: 190px }
#templatemo_content .col_32 { width: 410px }


#templatemo_sidebar h3 { margin-bottom: 15px }

.sidebar_section {
	margin-bottom: 40px;
}

.sidebar_section_bg {
	padding: 20px;
	background: #f3f3f3
}

.testimonial {
	margin-bottom: 40px;
	background: url(images/templatemo_testimonial.png) no-repeat top left
}

.testimonial p.testimonial_text {
	display: block;
	width: 260px;
	height: 157px;
	padding: 20px;
	margin: 0;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif
}
.testimonial p { color: #333; padding: 0 20px }

p.image_caption { padding: 20px; background: #f2f2f2 }

.sidebar_link_list {
	margin: 0;
	padding: 0;
	list-style: none
}
.sidebar_link_list li {
	margin: 0;
	padding: 10px;
	border-bottom: 1px dashed #fff
}
.sidebar_link_list li{
	color: #666;
}
.sidebar_link_list li:hover{
	background: #9FC812;
}
.comment li { color: #999 }
.comment li a { color: #df8601 }
.comment li span { display: block; }
.comment_meta { display: block; padding: 10px 0px; font-size: 10px; }


.post-item { clear: both; margin: 0 0 40px 0; padding: 0 0 40px 0; border-bottom: 1px solid #ccc }
.post-item h2 { padding: 0; margin-bottom: 10px }
.post-meta { margin-bottom: 20px; position: relative; }

.post-meta span.post_comment { position: absolute; font-size: 20px; line-height: 40px; text-align: center; right: 0; top: 0; width: 80px; height: 54px; background: url(images/comment.png) }

.post-meta img { float: left; margin-right: 20px }

.last_post { border-bottom: none; padding: 0; }

.comment_list { margin: 0; padding: 0; list-style: none }
.comment_list .comment_box { padding: 20px; border-bottom: 1px solid #efefef }
.comment_list li { margin-bottom: 20px }
.comment_list li ul { list-style: none; background: none }
.comment_list li ul li { }
.comment_list li ul li .comment_box { background: #eee }
.comment_content { float: right; width: 460px }
.comment_list li ul li.depth_2 .comment_content  { width: 420px }
.comment_list li ul li.depth_3 .comment_box { background: #ddd }
.comment_list li ul li.depth_3 .comment_content  { width: 380px }


#comment_form { margin-top: 40px }

#comment_form textarea {
	color: #666;
	background:#fff none repeat fixed 0 0;
	border: 1px solid #ccc;
	display:block;
	font-size:1.1em;
	height:150px;
	margin-top:5px;
	padding:5px;
	width: 360px;
}

#comment_form .form_row {
	width: 100%;
	margin-bottom: 15px;
}

#comment_form form input {
	color: #666;
	margin-top: 5px;
	padding: 3px 0;
	width: 200px;
	background:#fff none repeat fixed 0 0;
	border: 1px solid #ccc;
}

#contact_form { padding: 0; margin-bottom: 40px; width: 630px; }
#contact_form form { margin: 0px; padding: 0px; }

#contact_form form .input_field { 
	width: 290px; 
	padding: 5px; 
	margin-bottom: 20px; 
	color: #808b98;  
	background: #fff; 
	border: 1px solid #dedede;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#contact_form form label { 
	display: block; 
	width: 300px; 
	margin-bottom: 10px; 
	font-size: 11px 
}

#contact_form form textarea { 
	width: 290px; 
	height: 170px; 
	padding: 5px; 
	margin-bottom: 10px; 
	color: #808b98; 
	background: #fff; 
	border: 1px solid #dedede;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#contact_form .submit_btn, #comment_form .submit_btn {
	display: block; 
	width: 70px; 
	height: 30px; 
	line-height: 30px; 
	padding: 0 8px; 
	text-align: center; 
	text-decoration: none; 
	font-weight: bold;  
	background-color: #91c63e; 
	border: 1px solid #5f8c19; 
	color: #fff; 
	font-size: 11px; 
	cursor: pointer;
}

#templatemo_footer .col_3 {
	width: 300px;	
}

#templatemo_footer h4 { margin-bottom: 15px }
#templatemo_footer a { color: #000 }

ul.social li { margin: 0; padding: 5px 0; display: block; width: 150px; float: left; }
ul.social li a {
	display: block;
	padding: 5px 0 5px 40px;
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	background-position: left center;
	background-repeat: no-repeat
}

#templatemo_bottom li a.rower {text-decoration:none; color:#ccc; cursor:text;}

ul.social li a.facebook { background-image: url(images/facebook.png) }
ul.social li a.twitter { background-image: url(images/twitter2.png) }
ul.social li a.youtube { background-image: url(images/youtube.png) }
ul.social li a.vimeo { background-image: url(images/vimeo.png) }
ul.social li a.google { background-image: url(images/google.png) }
ul.social li a.skype { background-image: url(images/skype.png) }

ul.twitter li {  margin: 0 0 20px 0; padding: 0 }

.templatemo_paging { margin: 0 0 20px; padding: 0 }
.templatemo_paging ul { margin: 0; padding: 0; list-style: none }
.templatemo_paging ul li { margin: 0; padding: 0; display: inline }

.templatemo_paging ul li a { float: left; 
	display: block; 
	color: #666; 
	text-decoration: none; 
	margin-right: 5px; 
	padding: 5px 10px; 
	background: #ebe7e4; 
	border: 1px solid #d6d0cc;
}

.templatemo_paging ul li a:hover { color: #fff; background: #91c63e; border: 1px solid #5f8c19 }

.no_mr { margin-right: 0 }