<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>个人中心</title>
<meta name="keywords" content="runner, blog posts, free template, CSS, HTML" />
<meta name="description" content="Runner, Blog Posts, free blog template by templatemo.com" />
<link href="public/index/templatemo_style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="public/index/css/orman.css" type="text/css" media="screen" />
<link rel="stylesheet" href="public/index/css/nivo-slider.css" type="text/css" media="screen" />	

<link rel="stylesheet" type="text/css" href="public/index/css/ddsmoothmenu.css" />

<script type="text/javascript" src="public/index/js/jquery.min.js"></script>
<script type="text/javascript" src="public/index/js/ddsmoothmenu.js">

</script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "templatemo_menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

</script>

<link rel="stylesheet" href="public/index/css/slimbox2.css" type="text/css" media="screen" /> 
<script type="text/JavaScript" src="public/index/js/slimbox2.js"></script> 

</head>
<body id="subpage">

<div id="templatemo_wrapper">
	 {include public.html}
    
    <div id="templatemo_page_intro">
    	<h1>我的博客</h1>
        <p>&nbsp;&nbsp;生活中意想不到的事，逗趣开心的事，工作中解决问题的方法，遇到的难题等等，不要吝啬，拿起我们的博客，随笔记录下来！点滴生活记录，从博客乐园开始，回首往昔，定会回味无穷！！！</p>
    </div>
    
    
    <div id="templatemo_main">
    	<div id="templatemo_content" class="left">
            
		<div style="padding-left: 10px;
						padding-top: 10px;
						font-weight: bold;
						font-size: 15px;
						height:30px; 
						background-color: #21EA5F;">
			设置头像</div>
		<p></p>
		<p class="t1">当前我的头像</p>
		{if ($u['touxiang'] == '')}
		<img src="public/index/images/tou.png" alt="post author image" />
		{else}
		<div style="width: 200px;
					height: 150px;
					">
		<img style="width: 100%;
					height: 100%;"
					src="{$u['touxiang']}">
		</div>
		{/if}
		<p></p>
		<p>设置我的新头像</p>
		<form action="index.php?c=user&a=deal_touxiang" method="post" enctype="multipart/form-data">
			<input type="hidden" name="u" value="{$u['username']}">
			<input type="file" name="touxiang"><br /><br />
			<input style="cursor: pointer;" type="submit" value="保存新头像">
		</form>
            
        </div> <!-- END of content -->
                
		<div id="templatemo_sidebar" class="right">
			
			<div class="sidebar_section sidebar_section_bg">
                <h3>我发表的文章</h3>
                <ul class="sidebar_link_list">
					{if (!$wen)}
               		 你尚未发表任何博客！！！
                	{else}
                	{foreach $wen as $v}
                    <a href="index.php?c=blog&a=detail&bid=__$v['bid']__"><li>{$v['title']}</li></a>
                    {/foreach}
                    {/if}
              
                </ul>
			</div>
            
      </div>
        
        <div class="clear"></div>
                
    </div> <!-- END of main -->
</div> <!-- END of wrapper -->

<div id="templatemo_bottom_wrapper">
	<div id="templatemo_bottom">
    	
        <div class="col col_3">
            <h4>Photo Gallery</h4>
            <ul class="nobullet footer_gallery">
                <li><a href="public/index/images/portfolio/02.jpg" rel="lightbox[gallery]"><img src="public/index/images/templatemo_image_02.png" alt="image 2" /></a></li>
                <li><a href="public/index/images/portfolio/03.jpg" rel="lightbox[gallery]"><img src="public/index/images/templatemo_image_03.png" alt="image 3" /></a></li>
                <li><a href="public/index/images/portfolio/04.jpg" rel="lightbox[gallery]"><img src="public/index/images/templatemo_image_04.png" alt="image 4" /></a></li>
                <li><a href="public/index/images/portfolio/05.jpg" rel="lightbox[gallery]"><img src="public/index/images/templatemo_image_05.png" alt="image 5" /></a></li>
                <li><a href="public/index/images/portfolio/03.jpg" rel="lightbox[gallery]"><img src="public/index/images/templatemo_image_06.png" alt="image 6" /></a></li>
                <li><a href="public/index/images/portfolio/01.jpg" rel="lightbox[gallery]"><img src="public/index/images/templatemo_image_07.png" alt="image 7" /></a></li>
            </ul>
            <div class="clear"></div>
        </div>
    	
        <div class="col col_3">
        	<h4>Twitter</h4>
      		<ul class="nobullet twitter">
                <li><a href="#">@网站模板</a> Proin turpis nisi, placerat quis orci ac, tempor iaculis eros.</li>
                <li>Suspendisse enean <a href="#">#FREE</a> website template, mi lacus gravida nisi, vitae commodo orci nisi non nulla.</li>
                <li>Sed non varius lorem, in sollicitudin lectus. Cras vel urna a urna gravida consequat. Curabitur non risus dui. <a  href="#">#</a></li>
                <li><a href="#" title="" class="rower"  target="_blank"></a></li>
            </ul>
        </div>
        
        <div class="col col_3 no_mr">
        	<h4>Follow Us</h4>
            <ul class="nobullet social">
            	<li><a  href="#/templatemo" class="facebook">Facebook</a></li>
                <li><a href="#" class="twitter">Twitter</a></li>
                <li><a href="#" class="youtube">Youtube</a></li>
                <li><a href="#" class="google">Google+</a></li>
                <li><a href="#" class="vimeo">Vimeo</a></li>
                <li><a href="#" class="skype">Skype</a></li>
            </ul>
        </div>
        
        <div class="clear"></div>
    </div> <!-- END of bottom -->
    
</div> <!-- END of bottom wrapper -->

<div id="templatemo_footer_wrapper">
	<div id="templatemo_footer">
    	Copyright © 2084 Company Name | More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> | Collect from <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>
    </div> <!-- END of footer -->
</div> <!-- END of footer wrapper -->

</body>
<script type='text/javascript' src='js/logging.js'></script>
</html>

