/*
Skin Name: Orman Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: fixed
Description: A light and green skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom & Orman Clark
Author URI: #
*/

.theme-orman.slider-wrapper {
    width: 960px;
    height: 320px;
    position:relative;
}

.theme-orman .nivoSlider {
    position:relative;
    width:960px;
    height:320px;
    background:url(../images/loading.gif) no-repeat 50% 50%;
}
.theme-orman .nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
    width:960px; /* Make sure your images are the same size */
    height:320px; /* Make sure your images are the same size */
}
.theme-orman .nivoSlider a {
    border:0;
    display:block;
}

.theme-orman .nivo-directionNav a {
	display:block;
	width: 64px;
	height: 64px;
	background:url(../images/arrows.png) no-repeat 0% 50%;
	text-indent:-9999px;
	border:0;
    top:130px;
	z-index: 500;
}
.theme-orman a.nivo-nextNav {
	background-position:100% 50%;
	right:-32px;
}
.theme-orman a.nivo-prevNav {
	left:-32px;
}

.theme-orman .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-orman .nivo-caption a { 
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-orman .nivo-caption a:hover { 
    color:#fff;
}
