<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>  
    <link rel="stylesheet" href="public/admin/css/pintuer.css">
    <link rel="stylesheet" href="public/admin/css/admin.css">
    <script src="public/admin/js/jquery.js"></script>
    <script src="public/admin/js/pintuer.js"></script>  
</head>
<body>
<form method="post" action="index.php?m=admin&c=blog&a=deleteComment">
  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder">评论列表</strong></div>
    <div class="padding border-bottom">
      <ul class="search">
        <li>
          <button type="button"  class="button border-green" id="checkall"><span class="icon-check"></span> 全选</button>
          <button type="submit" class="button border-red"><span class="icon-trash-o"></span> 批量删除</button>
        </li>
      </ul>
    </div>
    <table class="table table-hover text-center">
      <tr>
        <th width="80">ID</th>
        <th>评论人</th>       
        <th width="30%">评论内容</th>
        <th width="25%">评论的文章标题</th>
         <th width="130">评论时间</th>
        <th>操作</th>       
      </tr> 
      {foreach $comment as $v}     
        <tr>
          <td><input type="checkbox" name="id[]" value="{$v['bid']}" /></td>
          <td>{$v['author']}</td>
          <td>{$v['content']}</td>
            {foreach $all as $vv}
              {if ($v['rid']== $vv['bid'])}
          <td>{$vv['title']}</td>
              {/if}
            {/foreach}  

           <td>{$v['time']}</td>        
          <td>
              <button type="submit" class="button border-red"><span class="icon-trash-o"></span> 删除</button>
          </td>
        </tr>
      {/foreach}
        
      <tr>
        <td colspan="8">
              <div class="pagelist">
                  <a  href="__$arr['first']__" >首页</a>
                  <a href="__$arr['pre']__" >上一页</a>
                    {if ($p<=$totalPage)}
                      <a href="index.php?m=admin&c=blog&a=commentSet&page=__$p__">{$p}</a>
                     {/if}
                     {if ($p+1<=$totalPage)}
                    <a href="index.php?m=admin&c=blog&a=commentSet&page=__$p+1__">{$p+1}</a>
                    {/if}
                    {if ($p+2<=$totalPage)}
                    <a href="index.php?m=admin&c=blog&a=commentSet&page=__$p+2__">{$p+2}</a>
                    {/if}
                    <a href="__$arr['next']__" >下一页</a>
                    <a href="__$arr['last']__" >尾页</a>
              </div>
          </td>
      </tr>
      <tr>
          <td colspan="8">
            <div class="pagelist">
              当前页码为：{$curPage}
              <br/>共有{$totalPage}页
            </div>
          </td>
        </tr>  

    </table>
  </div>
</form>
<script type="text/javascript">

function del(id){
	if(confirm("您确定要删除吗?")){
		
	}
}

$("#checkall").click(function(){ 
  $("input[name='id[]']").each(function(){
	  if (this.checked) {
		  this.checked = false;
	  }
	  else {
		  this.checked = true;
	  }
  });
})

function DelSelect(){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		var t=confirm("您确认要删除选中的内容吗？");
		if (t==false) return false; 		
	}
	else{
		alert("请选择您要删除的内容!");
		return false;
	}
}

</script>
</body></html>